// Place all the styles related to the admin/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-contact-form{
  padding-top: 33px;
  padding-bottom: 20px;
}
.admin-reply-title{
  letter-spacing: .2rem;
  font-family: 'Shippori Mincho B1', serif;
  margin-bottom: 20px;
}