<div class="container user-page">
  <div class="row follow-wrap justify-content-center">
    <div class="col-sm-12 mb-5">
      <h2 class="text-center mt-4 mb-5 user-follow-title">
        <%= @user.name %>さんが<br><i class="fas fa-users"></i> フォローしているユーザー <i class="fas fa-users"></i>
      </h2>
        <% if @users.present? %>
          <%= render "user/users/follow_index", users: @users %>
        <% else %>
          <h3 class="text-center pt-3 pb-5">※まだフォローしていません</h3>
        <% end %>
    </div>
    </div>
  </div>
  <div class="pt-3 pb-3">
    <p><%= paginate @users %></p>
  </div>
</div>