<div class="container user-page">
  <div class="row follow-wrap justify-content-center">
    <div class="col-sm-12 mb-5">
      <h2 class="text-center mt-4 mb-5 user-follow-title">
        <%= link_to user_path(@user.id), class: "back-link" do %>
          <%= @user.name %>さん
        <% end %>
        を<br>
        <i class="fa fa-users"></i> フォローしているユーザー <i class="fas fa-users"></i>
      </h2>
        <% if @users.present? %>
          <%= render "user/users/follow_index", users: @users %>
        <% else %>
          <h3 class="text-center no-present-title pt-3 pb-5">※まだフォローされていません</h3>
        <% end %>
    </div>
    </div>
  </div>
  <div class="pt-3 pb-3">
    <p><%= paginate @users %></p>
  </div>
</div>