<div class="container user-page">
  <div class="row pt-5">
    <div class="col-sm-12 text-center">
      <h1 class="unsubscribe-title"><strong>本当に退会しますか？</strong></h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 text-center">
      <h4 class="unsubscribe-text">
        <i class="fas fa-exclamation-triangle"></i>
          退会すると新たに投稿することや、投稿した記事が消えてしまいます
        <i class="fas fa-exclamation-triangle"></i>
      <h4/>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <%= link_to " 退会する", withdraw_user_path(@user.id), method: :patch, data: { confirm: '本当に退会しますか？' }, class: "btn user-show-btn mr-1 fas fa-exclamation-triangle" %>
    <%= link_to " 戻る", user_path(@user.id), class: "btn user-show-btn ml-1 fas fa-undo-alt" %>
  </div>
</div>
