<div class="container">
  <div class="row about-top-content">
    <div class="col-sm-6 text-center about-top-left pt-4">
      <p><i class="fas fa-paw"></i> 大切なペットの為のアプリ <i class="fas fa-paw"></i></p>
      <h1 style="font-size: 80px; letter-spacing: .2rem; font-family: 'Shippori Mincho B1', serif;">ANI-CLE</h1>
      <div>
        <%= link_to "新規会員登録", new_user_registration_path, class: "btn about-new-btn mb-3 mt-5" %>
        <p>or</p>
        <%= link_to "ログイン", new_user_session_path, class: "btn about-new-btn" %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'about-img1.jpg', class: "about-image" %>
    </div>
  </div>
  <div class="row about-second-content text-center mt-3 pt-5">
    <div class="col-sm-12">
      <h1 style="font-size: 120px; letter-spacing: .2rem; font-family: 'Shippori Mincho B1', serif;">ANI-CLE ？</h1>
      <p class="mt-4" style="letter-spacing: .2rem;">
        ペットを飼う者同士で作り上げるペットの為のSNSサイトです。<br>
        ペットを大切に思う人たちによってペットの為の輪を広げていただきたいと願いを込めて、<br>
        ”animal-circle”から「ANI-CLE」と名付けました。<br>
        自分のペットの自慢話や飼育情報等を投稿し合うことで、ペットを大切にしている者同士が繋がり、<br>
        ペットをこよなく愛する者たちで情報交換のできる場にもなるサイトです。<br>
        <i class="fas fa-paw"></i> サイトを利用して、ペットと共に豊かなライフをお送りください <i class="fas fa-paw"></i>
      </p>
    </div>
  </div>
  <div class="row about-third-content mt-3 text-center">
    <div class="col-sm-5">
      <%= image_tag 'about-img2.jpg', class: "about-image" %>
    </div>
    <div class="col-sm-7 about-third-right pt-5">
      <h3>かんたんアプリの使い方 <i class="far fa-check-circle"></i></h3>
      <div class="pt-5">
        <p>
          <i class="fas fa-chevron-circle-right"></i> 自慢、思い出、好きなおやつのレシピ、成長記録等を<br>自由に投稿しましょう！
        </p>
        <p>
          <i class="fas fa-chevron-circle-right"></i> 他のユーザーのペットを眺めて癒されタイムを作りましょう！<br>日頃の疲れも吹き飛びます！
        </p>
        <p>
          <i class="fas fa-chevron-circle-right"></i> 気になるペットがいたらいいねやコメントを残したり、<br>飼い主さんをフォローして繋がろう！
        </p>
      </div>
    </div>
  </div>
</div>