<% if user.errors.any? %>
  <div class="text-center pt-3">
    <h5><i class="fas fa-exclamation-triangle"></i> <%= user.errors.count %>つの欄が未入力です <i class="fas fa-exclamation-triangle"></i></h5>
    <% user.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>