<div class="container post-index-page">
  <p class="text-center pt-1 post-notice"><%= notice %></p>
  <div class="text-center pt-4">
    <h3 class="post-title">
      <i class="fas fa-dog"></i>
        投稿された記事 全<%= @post_all.count %>件
      <i class="fas fa-cat"></i>
    </h3>
  </div>
  <div class="row justify-content-center">
    <%= render "user/posts/post_index", posts: @posts %>
  </div>
  <div class="pt-3 pb-3">
    <p><%= paginate @posts %></p>
  </div>
</div>