// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿詳細ページ文字
.post-show-text{
  font-size: 18px;
}


// 投稿詳細ページの画像
.post-show-image{
  width: 100%;
  border-radius:20px;
  height: 100%;
}
.post-show-title{
  letter-spacing: .2rem;
  font-family: 'Shippori Mincho B1', serif;
}

// 投稿詳細画面の編集削除ボタン
.post-show-btn{
  border: 1px solid white!important;
  border-radius: 100px!important;
  background-color: white!important;
  color: #EE827d!important;
}
.post-show-btn:hover{
  background-color: #EE827d!important;
  color: white!important;
}

// 投稿一覧ページ
.post-index-page{
  border-radius: 20px;
  color: #EE827d;
  background-color: #EE827d;
}

// 投稿一覧ボタン
.post-index-btn{
  border: 1px solid #EE827d!important;
  border-radius: 100px!important;
  background-color: #EE827d!important;
  color: white!important;
}
.post-index-btn:hover{
  background-color: white!important;
  color: #EE827d!important;
}

// 投稿一覧マイページへのリンク
.profile-link{
  color: #EE827d;
}
.profile-link:hover{
  color: #EE827d;
}

// 投稿詳細マイページへのリンク
.profile-link-show{
  color: white;
}
.profile-link-show:hover{
  color: white;
}

// 投稿ページのフラッシュ文字
.post-notice{
  color: white;
}

// 投稿一覧ページのカード
.index-card{
 border-radius: 20px!important;
}
.post-index-img{
 border-radius: 20px;
 width: 100%;
 height: 100%;
}

// コメントの欄設定
.comment-form{
  border-radius: 20px;
}

// コメント削除ボタン
.comment-delete-btn{
  border: 1px solid #EE827d!important;
  background-color: #EE827d!important;
  color: white!important;
}
.comment-delete-btn:hover{
  background-color: white!important;
  color: #EE827d!important;
}

// 投稿されたコメント
.comment-card{
  color: #EE827d;
}
// コメントカード内の名前リンク
.comment-link{
  color: #EE827d;
}
.comment-link:hover{
  color: #EE827d;
}